/********* Google font ********/
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@500&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&family=M+PLUS+1+Code:wght@500&family=Montserrat:wght@200;800&family=Shadows+Into+Light&family=Texturina:wght@100&display=swap");

* {
  font-family: "Shadows Into Light", cursive;
  font-family: "Caveat", cursive;
  font-family: "Caveat Brush", cursive;
  font-family: "Cormorant Garamond", serif;
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-family: "Texturina", serif;
}

body {
  background-image: url("../img/sky.png");
  width: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/************** HEADER **************/

.menu ul li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(pink, lightblue);
  width: 100%;
}

/**************** MAIN ****************/

.container {
  width: 50%;
  margin: auto;
  background-color: antiquewhite;
}

.sunset1,
.sunset2,
.sunset3 {
  margin: 20px;
}
.text1,
.text2,
.text3 {
  display: inline-block;
  width: 60%;
  margin: 10px;
}

.sunset1 img,
.sunset2 img,
.sunset3 img {
  display: inline-block;
  width: 35%;
}

/**************** Footer **************/

footer {
  background-color: burlywood;
  height: 100px;
  width: 100%;
  margin: 0;
}

.social ul li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

.social ul li a {
  color: black;
  padding: 130px;
  text-align: center;
}
